/* =============== Google Font Link  =============== */
/* font-family link  */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Play:wght@400;700&family=Playfair+Display+SC:wght@400;700;900&family=Playfair:ital,opsz@0,5..1200;1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Play:wght@400;700&family=Playfair+Display+SC:wght@400;700;900&family=Playfair:ital,opsz@0,5..1200;1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Playfair+Display+SC:wght@400;700;900&family=Playfair:ital,opsz@0,5..1200;1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

/*   font-family: "Poppins", sans-serif; */
/* font-family: "Kaushan Script", cursive; */
/* font-family: "League Spartan", sans-serif; */

/* =============== CSS Reset Code ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variable code */
:root {
  --popFont: "Poppins", sans-serif;
  --kaushan: "Kaushan Script", cursive;
  --spartan: "League Spartan", sans-serif;
  --whiteColor: #fff;
  --blackColor: #000;
  --logoColor: #048679;
  --headingCol: rgb(253, 0, 253);
}

/* ======== Shop Heading Section Start Here ========= */
.shop-heading-section {
  margin-top: 4rem;
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(137, 137, 248, 0.279)
    ),
    url(./Images/my-banner/3804065.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-heading-section .shop-text {
  text-align: center;
  color: var(--whiteColor);
  font-family: var(--popFont);
  font-weight: 500;
  h1 {
    padding: 1rem 0;
  }
  span {
    color: tomato;
  }
}
/* ======== Shop Heading Section End Here ========= */

/* ========== Pagination Section Start Here ========== */

.pagination-section {
  margin-top: -2rem;
}
.pagination-section .pagination li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: var(--whiteColor);
  box-shadow: 2px 2px #ddd;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 10px;
  background-color: var(--logoColor);
  transition: all 0.4s;
}
.pagination-section .pagination li a:hover {
  background-color: #055850;
}

.pagination-section .pagination li .previous {
  text-align: center;
  font-size: 1.1rem;
  width: 100px;
  height: 45px;
  border-radius: 4px;
}

/* ========== Pagination Section End Here ========== */

/* =========== Responsive Design Start Here==========*/
@media only screen and (max-width: 550px) {
  .shop-heading-section .shop-text {
    h1 {
      font-size: 1.5rem;
    }
  }
}
/* =========== Responsive Design End Here==========*/
